

.App {
  text-align: center;

}

/* 
.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
  color: blueviolet;

}

.header-route{
  flex: 1;
  padding: '00px'
} */



.router{
  border: 5px solid black;
  height: 100px;
  /* Option 4 */
  background-color: #69747C;
  /* Option 5 */
  /* background-color: A8BA9A; */
}

/* .text{
  border: 1px solid black;
  height: auto;
  width: auto;
  margin: 2px 2px 4px 0px;
   padding: 0px 0px 0px 1px; 
  background-color: #B8D8D9;
} */

.divCreate{
  border: 1px solid black;
  height: auto;
  width: auto;
  margin: 2px 2px 4px 0px;
   padding: 0px 0px 0px 1px; 
  background-color: rgb(219, 185, 87, .5);
  margin: 10px 300px 10px 300px;
}


.mainDiv{
  /* margin: 100px; */
  padding: 10px 10px 10px 10px;
  /* background-color: ; */
  /* background-color: #6B6570; */
  /* add transparency here */
}

body{
/* image 7 for create monster*/
/* background-image: url('./assets/7-bailey-zindel-NRQV-hBF10M-unsplash.jpg'); */

/* image 4 for carousel */
background-image: url('./assets/4-luca-bravo-O453M2Liufs-unsplash.jpg');
/* image 2 for login */
/* background-image: url('./assets/2-mark-harpur-K2s_YE031CA-unsplash.jpg'); */
/* background-image: url('./assets/1-pine-watt-2Hzmz15wGik-unsplash.jpg'); */
width: auto;
height: auto;
padding: 10px;

}

h3{
  text-align: center;
}

.upperDiv{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.monsterDescription{
  width: 1100px;
  height: 250px;
  border: 5px solid black;
  margin: 100px 100px 25px 50px;
  padding: 20px 20px 20px 20px;
  /* B8D8D9 - option 4*/
  background-color: #B8D8D9;
  /* ACE894 option 5 */
  /* background-color: #ACE894; */

}

.monsterImage{
  width: 500px;
  height: auto;
  border: 5px solid black;
  margin: 100px 50px 25px 100px;
  background-color: whitesmoke;
}

.info{
  margin: 25px 100px 100px 100px;
  display:flex;
  align-items: stretch;
  border: 5px solid black;
  padding: 20px 20px 20px 20px;
  /* B8D8D9 Option 4 */
  background-color: #B8D8D9;
  /* ACE894 Option 5 */
  /* background-color: #ACE894; */
  
}

ul{
  list-style-type: none;
  text-align: left;
}

.monsterInfo{
  /* display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  align-items: stretch; */
  width: 500px;
  height: 250px;
  text-align: left;
  
}

.footer{
  border: 5px solid black;
  height: 100px;
  /* Option 4 */
  background-color: #69747C;
  /* Option 5 */
  /* background-color: A8BA9A; */

}
.slideDiv{
  border: 5px solid black;
  padding: 10px 10px 10px 10px;
  background-color: rgb(219, 185, 87, .5);
  margin: 2px;
}


.carousel-control-next-icon{
  background-image : url(./assets/arrow-right.svg);
  border-radius: 100%;
  border: 2px solid black;
  
  
  
  
}
.carousel-control-prev-icon{
background-image : url(./assets/arrow-left.svg);
border-radius: 100%;
border: 2px solid black;
}



.slideDiv:hover{
  opacity:.5;
}